{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Steller landing page.">
    <meta name="author" content="Devcrud">
    <title>Michael's Portfolio</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{%static 'assets/vendors/themify-icons/css/themify-icons.css'%}">
    <!-- Bootstrap + Steller main styles -->
	<link rel="stylesheet" href="{%static 'assets/css/steller.css'%}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" data-spy="affix" data-offset-top="0">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="{%static 'assets/imgs/logo.svg'%}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto align-items-center">
                    <li class="nav-item">
                        <a style="color: #02023a;" class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #02023a;" class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #02023a;" class="nav-link" href="#service">Service</a>
                    </li>                   
                    <li class="nav-item">
                        <a style="color: #02023a;" class="nav-link" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #02023a;" class="nav-link" href="#testmonial">Testmonial</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #02023a;" class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>          
    </nav>
    <!-- End of page navibation -->

    <!-- Page Header -->
    <header class="header" id="home">
        <div class="container">
            <div class="infos">
                <h6 style="color: black;" class="subtitle">Hello,I'm</h6>
                <h6 style="color: black;" class="title">Awa Emeka Michael</h6>
                <p style="color: black;">Software Engineer</p>

                <!-- <div class="buttons pt-3">
                    <button class="btn btn-dark -100 rounded">HIRE ME</button>
                    <button class="btn btn-dark rounded">DOWNLOAD CV</button>
                </div>       -->

                <div class="socials mt-4">
                    <a class="social-item" href="javascript:void(0)"><i class="ti-linkedin"></i></a>
                    <a class="social-item" href="javascript:void(0)"><i class="ti-google"></i></a>
                    <a class="social-item" href="https://github/MictovicDev"><i class="ti-github"></i></a>
                    <a class="social-item" href="javascript:void(0)"><i class="ti-twitter"></i></a>
                </div>
            </div>              
            <div class="img-holder">
                <img src="{%static 'assets/imgs/code.jpg'%}" alt="">
            </div>      
        </div>  

        <!-- Header-widget -->
        <div class="widget">
            <div class="widget-item">
                <h2>10</h2>
                <p>Happy Clients</p>
            </div>
            <div class="widget-item">
                <h2>20</h2>
                <p>Project Completed</p>
            </div>
            <div class="widget-item">
                <h2>2</h2>
                <p>Certificates</p>
            </div>
        </div>
    </header>
    <!-- End of Page Header -->
    
    <!-- About section -->
    <section id="about" class="section mt-3">
        <div class="container mt-5">
            <div class="row text-center text-md-left">
                <div class="col-md-3">
                    <img src="{%static 'assets/imgs/Mike.jpg'%}" alt="" class="img-thumbnail mb-4">
                </div>
                <div class="pl-md-4 col-md-9">
                    <h6 class="title">Awa Emeka Michael</h6>
                    <p class="subtitle">Backend Developer</p>
                    <p>Passionate Software Engineer with 3+ years of experience in developing web applications and backend systems. </p>
                    <p>Skilled at writing clear, concise code that is easy to maintain and troubleshoot.</p>
                    <p>Experienced in working with both small and large teams across multiple projects and companies. Able to work independently of remote locations or in office environments as needed by the company</p>
                    <button class="btn btn-dark rounded mt-3">DOWNLOAD CV</button>                   
                </div>
            </div>
        </div>
    </section>

    <!-- Service section -->
    <section id="service" class="section">
        <div class="container text-center">
            <h6 class="subtitle">Service</h6>
            <h6 class="section-title mb-4">What I Do</h6>
            <p class="mb-5 pb-4">I bring the backend magic to life,<br>Hire me lets craft one for you</p>

            <div class="row">
                <div class="col-sm-6 col-md-3 mb-4">
                    <div class="custom-card card border">
                        <div class="card-body">
                            <i class="icon ti-crown"></i>
                            <h5>Backend Development</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-4">
                    <div class="custom-card card border">
                        <div class="card-body">
                            <i class="icon ti-desktop"></i>
                            <h5>Frontend Development</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-4">
                    <div class="custom-card card border">
                        <div class="card-body">
                            <i class="icon ti-mobile"></i>
                            <h5>App Development</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-4">
                    <div class="custom-card card border">
                        <div class="card-body">
                            <i class="icon ti-bar-chart"></i>
                            <h5>Technical Writer</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Sectoin -->
    

    <!-- Skills section -->
    <section class="section">
        <div class="container text-center">
            <h6 class="subtitle">Skills</h6>
            <h6 class="section-title mb-4">Why Choose me</h6>
            <p class="mb-5 pb-4">I have extensive expertise in backend languages (Python, Javascript, React,Node.js, CSS , HTML) and database management (MySQL, PostgreSQL, MongoDB, Redis).<br> I excel in developing RESTful and GraphQL APIs, solving complex problems, and optimizing performance with strong algorithm and data structure knowledge. I am experienced in Agile methodologies, DevOps practices, and using tools like Docker, Kubernetes, Git, and GitHub. With a proven track record of successful projects and a commitment to continuous learning, I stay up-to-date with industry trends and contribute to open source projects. My effective communication and collaboration skills.

            <div class="row text-left">
                <div class="col-sm-6">
                    <h6 class="mb-3">Django</h6>
                    <div class="progress">
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>100%</span></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h6 class="mb-3">Postgres</h6>
                    <div class="progress">
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>83%</span></div>
                    </div>
                    
                </div>
                <div class="col-sm-6">
                    <h6 class="mb-3">React</h6>
                    <div class="progress">
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>95%</span></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h6 class="mb-3">API</h6>
                    <div class="progress">
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>90%</span></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h6 class="mb-3">Docker</h6>
                    <div class="progress">
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>90%</span></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h6 class="mb-3">Python</h6>
                    <div class="progress">
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>90%</span></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h6 class="mb-3">AWS</h6>
                    <div class="progress">
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>90%</span></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h6 class="mb-3">API</h6>
                    <div class="progress">
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>90%</span></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h6 class="mb-3">Html</h6>
                    <div class="progress">
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>90%</span></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h6 class="mb-3">CSS</h6>
                    <div class="progress">
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>90%</span></div>
                    </div>
                </div>
            </div>  
        </div>
    </section>
    <!-- End of Skills sections -->

    <!-- Portfolio section -->
    <section id="portfolio" class="section">
        <div class="container text-center">
            <h6 style="color: black;" class="subtitle">Portfolio</h6>
            <h6 style="color: black;" class="section-title mb-4">Check My Wonderful Works</h6>
            <p class="mb-5 pb-4"> Here are few of my works, which shows my frontend skills and my ability to build API <br>let's bring that service to life for you</p>

            <div class="row">
                <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="{%static 'assets/imgs/creve.png'%}" alt="">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Creve</h5>
                                <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                                <a href="https://creve.vercel.app"><i class="ti-link"></i></a>
                            </div>  
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img src="{%static 'assets/imgs/bilding.jpg'%}" alt="">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>GetBilding</h5>
                                <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                                <a href="javascript:void(0)"><i class="ti-link"></i></a>
                            </div>                              
                        </div>
                    </div>                  
                </div>
                <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="{%static 'assets/imgs/document.png'%}" alt="">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Creve API</h5>
                                <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                                <a href="https://creve.vercel.app"><i class="ti-link"></i></a>
                            </div>  
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img src="{%static 'assets/imgs/cre.png'%}" alt="">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>PortFolio</h5>
                                <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                                <a href="https://creve.vercel.app"><i class="ti-link"></i></a>
                            </div>                              
                        </div>
                    </div>                  
                </div>
                <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="{%static 'assets/imgs/re.png'%}" alt="">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Creve Login</h5>
                                <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                                <a href="javascript:void(0)"><i class="ti-link"></i></a>
                            </div>  
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img src="{%static 'assets/imgs/stem.png'%}" alt="">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>STEM Professionals website</h5>
                                <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                                <a href="https://stemprofs.com/><i class="ti-link"></i></a>
                            </div>                              
                        </div>
                    </div>                  
                </div>
            </div>

        </div>
    </section>
    <!-- End of portfolio section -->

    <!-- Testmonial Section -->
    <!-- <section id="testmonial" class="section">
        <div class="container text-center">
            <h6 class="subtitle">Testmonial</h6>
            <h6 class="section-title mb-4">What People Say About Me</h6>
            <p class="mb-5 pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In alias dignissimos. <br> rerum commodi corrupti, temporibus non quam.</p>


            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card testmonial-card border">
                            <div class="card-body">
                                <img src="{%static 'assets/imgs/avatar-1.jpg'%}" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam nostrum voluptates in enim vel amet?</p>
                                <h1 class="title">Emma Re</h1>
                                <h1 class="subtitle">Graphic Designer</h1>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card testmonial-card border">
                            <div class="card-body">
                                <img src="{%static 'assets/imgs/avatar-2.jpg'%}" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam nostrum voluptates in enim vel amet?</p>
                                <h1 class="title">James Bert</h1>
                                <h1 class="subtitle">Web Designer</h1>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card testmonial-card border">
                            <div class="card-body">
                                <img src="{%static 'assets/imgs/avatar-3.jpg'%}" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam nostrum voluptates in enim vel amet?</p>
                                <h1 class="title">Michael Abra</h1>
                                <h1 class="subtitle">Web Developer</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- End of testmonial section -->

    

    <!-- Hire me section -->
    <section class="bg-gray p-0 section">
        <div class="container">
            <div class="card bg-secondary">
                <div class="card-body text-light" style="color: #02023a;">
                    <div class="row align-items-center">
                        <div class="col-sm-9 text-center text-sm-left">
                            <h5 class="mt-3">Hire Me For Your Project</h5>
                            <p class="mb-3">You should hire me as a backend developer because I bring extensive technical expertise, problem-solving skills, and a proven track record of delivering high-quality, scalable solutions.</p>
                        </div>
                        <div class="col-sm-3 text-center text-sm-right">
                            <button class="btn btn-light rounded">Hire Me!</button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </section>      
    <!-- End od Hire me section. -->

    <!-- Contact Section -->
    <section id="contact" class="position-relative section">
        <div class="container text-center">
            <h6 class="subtitle">Contact</h6>
            <h6 class="section-title mb-4">Get In Touch With Me</h6>
            <p class="mb-5 pb-4">Feel free to get in touch with me to discuss how my backend development skills can add value to your team and help drive your projects to success. I'm looking forward to hearing from you!<br>Thanks</p>

            <div class="contact text-left">
                <div class="form">
                    <h6 class="subtitle">Available 24/7</h6>
                    <h6 class="section-title mb-4">Get In Touch</h6>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <textarea name="contact-message" id="" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
                        </div>
                        <a href="mailto:awaemekamichael@gmail.com">
                            <button type="submit" class="btn btn-secondary btn-block rounded w-lg">Send Message</button>
                        </a>
                       
                    </form>
                </div>
                <div class="contact-infos">
                    <div class="item">
                        <i style="color: black; border: black;" class="ti-location-pin"></i>
                        <div class="">
                            <h5>Location</h5>
                            <p>Port-Harcourt</p>
                        </div>                          
                    </div>
                    <div class="item">
                        <i style="color: black; border: black;" class="ti-mobile"></i>
                        <div>
                            <h5>Phone Number</h5>
                            <p>+234 9037540838</p>
                        </div>                          
                    </div>
                    <div class="item">
                        <i style="color: black; border: black;" class="ti-email"></i>
                        <div class="mb-0">
                            <h5>Email</h5>
                            <p>awaemekamichael@gmail.com</p>
                        </div>
                    </div>
                </div>                  
            </div>
        </div>  
        <div id="map">
            <iframe src="https://snazzymaps.com/embed/61257"></iframe>
        </div>      
    </section>
    <!-- End of Contact Section -->

    <!-- Page Footer -->
    <footer class="page-footer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <p>Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a style="color: #02023a;" href="https://mictovic.onrender.com" target="_blank">MictovicDev</a></p>
                </div>
                <div class="col-sm-6">
                    <div class="socials">
                        <a style="color: #02023a;" class="social-item" href="javascript:void(0)"><i class="ti-facebook"></i></a>
                        <a class="social-item" href="mailto:awaemekamicihael@gmail.com"><i class="ti-google"></i></a>
                        <a class="social-item" href="https://github.com/MictovicDev" ><i class="ti-github"></i></a>
                        <a class="social-item" href="https://www.linkedin.com/in/awa-michael"><i class="ti-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer> 
    <!-- End of page footer -->
	
	<!-- core  -->
    <script src="{%static 'assets/vendors/jquery/jquery-3.4.1.js'%}"></script>
    <script src="{%static 'assets/vendors/bootstrap/bootstrap.bundle.js'%}"></script>
    <!-- bootstrap 3 affix -->
	<script src="{%static 'assets/vendors/bootstrap/bootstrap.affix.js'%}"></script>

    <!-- steller js -->
    <script src="{%static 'assets/js/steller.js'%}"></script>

</body>
</html>